h1 {
    margin: 1px;
    padding: 0px;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0;
}

.token {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;

    color: aliceblue;
    text-align: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1;
    padding-bottom: 1;
}

.map { 
    margin: 0px;  
    /*background-image: url("/WarCampaignMaster/images/base_terrain.png");*/
    background-repeat: no-repeat;
}

.player1 {
    background-color: black;
    top: 60px;
    left: 50px;
}

.player2 {
    background-color: black;
    top: 800px;
    left: 1535px;
}

.player3 {
    background-color: black;
    top: 600px;
    left: 790px;
}


.barbs {
    background-color: rgb(100, 11, 11);
    top: 800px;
    left: 885px;
}


tooltip:hover .player3{
    background-color: chartreuse;
}